@model IEnumerable<Stripe.StripeCharge>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Charges Greater Than  @Html.TextBox("searchBy")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Sort By:
        </th>
        <th>
            @Html.ActionLink("Amount", "Index", new { sortBy = "Amount" }) 
        </th>
        <th>
            ------------
        </th>
        <th>
            @Html.ActionLink("Date Created", "Index", new { sortBy = "Created" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)

            </td>
            <td>
                <div> Refunded? </div>
                @Html.DisplayFor(modelItem => item.Refunded)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)

            </td>
         
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Refund", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>



